
<%= form_with(model: student, local: true, class: 'row d-flex justify-content-center') do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation" class="mb-4 text-center">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>
      <ul>
        <% student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-outline mb-4">
    <%= form.text_field :studentid, class: 'form-control' %>
    <%= form.label :studentid, class: 'form-label' %>
  </div>

  <div class="form-outline mb-4">
    <%= form.text_field :name, class: 'form-control' %>
    <%= form.label :name, class: 'form-label' %>
  </div>

  <%= form.submit class: 'btn btn-primary mb-4' %>

  <% if !student.new_record? %>
    <h5>Projects</h5>
      <div id="existing-projects-container" class="mb-4">
      <%= form.select :project_ids,
          options_for_select((Project.all - student.projects).collect { |project| [project.name, project.id] }),
          {}, { multiple: true, id: "existing-projects" } %>
    </div>


    <%= form.fields_for(:projects) do |nested_form| %>
      <% if nested_form.object.new_record? %>
        <p class="mb-4">
          <%= link_to 'Add new project', '#new-project-form',
                      class: 'btn',
                      'data-mdb-toggle' => 'collapse',
                      role: 'button',
                      'aria-expanded' => 'false',
                      'aria-controls' => 'new-project-form' %>
        </p>
        <div class="collapse mt-3" id="new-project-form">
          <h6>New project</h6>
      <% else %>
        <% project_index = nested_form.options[:child_index] %>
        <div class="mt-3" id="project-<%= project_index %>-form">
          <h6>Current project
            <%= nested_form.check_box :_destroy, value: false, style: "display: none;" %>
            <%= link_to '#', class: "destroy-project-link", data: { project_index: project_index } do %>
              <span title="Remove project from student"><i class="fa fa-folder-minus"></i></span>
            <% end %>
          </h6>
      <% end %>
          <div class="form-outline mb-4">
            <%= nested_form.text_field :name, class: 'form-control' %>
            <%= nested_form.label :name, class: 'form-label' %>
          </div>
          <div class="form-outline mb-4">
            <%= nested_form.text_field :url, class: 'form-control' %>
            <%= nested_form.label :url, class: 'form-label' %>
          </div>
        </div>
    <% end %>
    <%= form.submit 'Update student projects', class: 'btn btn-primary mb-4' %>
  <% end %>
<% end %>
