
<div class="col-md-4 offset-md-4">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">
        <%= @project.name %>
        <%= link_to edit_project_path(@project) do %>
          <span title="Edit"><i class="fa fa-edit"></i></span>
        <% end %>
      </h4>
      <%= link_to projects_path do %>
        <h4 class="close"><span title="Close"><i class="fa fa-times"></i></span></h4>
      <% end %>
      <p class="mb-4"><%= @project.url %></p>
      <h5>Students</h5>
      <% if @project.students.size > 0 %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Student ID</th>
            </tr>
          </thead>
          <tbody>
            <% @project.students.each do |student| %>
              <tr>
                <td><%= link_to student.name, student_path(student) %></td>
                <td><%= student.studentid %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p class="mb-4"><i>None added yet</i></p>
      <% end %>
    </div>
  </div>
</div>
